.Projects {
  padding: 40px 0;
  height: min-content;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 28px;
}

.Projects::-webkit-scrollbar {
  display: none;
}

.Projects .projects-list {
  margin-top: 40px;
  min-width: fit-content;
  display: flex;
}
