.Contact {
  padding: 68px 0;
}

.Contact .contact-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.Contact .contact-text {
  width: 100%;
}

.Contact .description {
  width: 100%;
}

